/* Overriding the default box shadow on the styled slider and its handle */
.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hiding the markers on the slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

/* Setting the height for the slider-round element */
#slider-round {
  height: 10px;
}

/* Customizing the color of the filled part of the slider */
#slider-round .noUi-connect {
  background: #6b365e;
}

/* Adding border to the slider's track */
#slider-round .noUi-connects {
  border: 1px solid #434e60;
}

/* Styling the slider handle, including color, dimensions, border, positioning, and cursor */
#slider-round .noUi-handle {
  background: #6b365e;
  border-width: 1px;
  border-color: white;
  height: 20px;
  width: 20px;
  top: -6px;
  right: -10px; /* half the width */
  border-radius: 10px;
  cursor: pointer;
}

/* Styling the tooltip on the slider handle */
#slider-round .noUi-tooltip {
  font-family: Arial, sans-serif;
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}
